<!-- *넌적스 문법의 branding.html -->
{% block content %}

{% include "header.html" %}
<link rel="stylesheet" href="/css/style.css" /> 
<link rel="stylesheet" href="/css/intro2.css" /> 

{% include "booksIntro.html" %}

<main>
    <div class="imgContainer">
        <img src="/images/books/details/1.jpg" alt="img1" id="img1">
        <img src="/images/books/details/2.jpg" alt="img2" id="img2">
        <img src="/images/books/details/3.jpg" alt="img3" id="img4">
        <img src="/images/books/details/4.jpg" alt="img4" id="img4">
        <img src="/images/books/details/5.jpg" alt="img5" id="img5">
        <img src="/images/books/details/6.jpg" alt="img6" id="img6">
        <img src="/images/books/details/8.jpg" alt="img8" id="img8">
        <img src="/images/books/details/9.jpg" alt="img9" id="img9">
        <img src="/images/books/details/10.jpg" alt="img10" id="img10">
    </div>
    <div class="heart">
        <img src="/images/heart.png" alt="heart img" id="heartImg">
        {% for page in page %}
        <p id="heartNumber">{{ page.heart }}</p>
        {% endfor %}
    </div>
</main>

{% include "footer2.html" %}
{% include "footer.html" %}
{% endblock %}