<!-- *넌적스 문법의 branding.html -->
{% include "header.html" %}
<link rel="stylesheet" href="/css/style.css" /> 


{% include "brandingIntro.html" %}

<main>
        <!-- <h1>branding.html</h1> -->
  
    <!-- <h1>Branding Page</h1> -->
    <div>
        <p id="name">{{ page.name }}</p>
        <p id="version">{{ page.version }}</p>
        <p id="date">Date. {{ page.date }}</p>
        <p id="participants">Participants. {{ page.participants }}</p>

        <p>{{ page.explanation }}</p>
        <p>heart: {{ page.heart }}</p>
    </div>
</main>

{% include "footer2.html" %}
{% include "footer.html" %}