<!-- ! footer2 -->
<div>
    <link rel="stylesheet" href="/css/footer2.css" /> 

    <p class="footer2">
        <hr>
        <p class="next">Go to next.</p>
        <div class="nextContents">
            <a href="/archivingBox" class="contentsList">Archiving Box</a><br>
            <a href="/branding" class="contentsList">Branding</a><br>
            <a href="/leaflet" class="contentsList">Leaflet</a><br>
            <a href="/measurement">M.ENT</a><br>
            <a href="/homesweethome">Home S₩eet Home</a><br>
            <a href="/books">Books</a><br>
            <a href="/interview">Members Interview</a><br>
        </div>
    </div>
</d>