<!-- ! footer2 -->
<div>
    <link rel="stylesheet" href="/css/footer2.css" /> 

    <p class="footer2">
        <hr>
        <p class="next">Go to next.</p>
        <div class="nextContents">
            <a href="#" class="contentsList">Archiving Box</a><br>
            <a href="/branding" class="contentsList">Branding</a><br>
            <a href="#" class="contentsList">Leaflet</a><br>
            <a href="#">Books</a><br>
            <a href="#">Measurement tool</a><br>
            <a href="#">Home S₩eet Home</a><br>
            <a href="#">Members Interview</a><br>
        </div>
    </div>
</d>