<!-- ! footer -->
<footer>
    <link rel="stylesheet" href="/css/footer.css" /> 

    <div class="Text">
        <p class="title">CONTACT US</>
        <div class="mainText1">
            <p id="email">Email.</p>
            <p></p>
            <p id="emailText">omt.ornament@gmail.com</p>
        </div>
        <div class="mainText2">
            <p id="insta">Instagram.</p>
            <p></p>
            <p id="instaText">omt.ornament</p>
        </div>
        <p class="mainText3">ⓒ 2023. omt.ornament . AlI Rights Reserved</p>
    </div>
</footer>