<!--* 넌적스 문법의 헤더 -->
<header>
    <link rel="stylesheet" href="/css/header.css" /> 
    <script src="/js/navToggle.js"></script>

    
    <div class="nav">
        <img src="/images/header/logo.png" id="logo">
        <div class="dropdown">
            <img src="/images/header/nav.png" id="buttonPng">
            <button class="dropbtn" id="navTitle">Works</button>
            <div class="dropdown-content">
                <!-- 드롭다운 메뉴 항목들 -->
                <a href="#" onclick="changeTitle('Archiving Box')">Archiving Box</a>
                <a href="/branding" onclick="changeTitle('Branding')">Branding</a>
                <a href="#" onclick="changeTitle('Leaflet')">Leaflet</a>
                <a href="#" onclick="changeTitle('M.ENT')">M.ENT</a>
                <a href="#" onclick="changeTitle('Home S₩eet Home')">Home S₩eet Home</a>
                <a href="#" onclick="changeTitle('Books')">Books</a>
                <a href="#" onclick="changeTitle('Members Interview')">Members Interview</a>
            </div>
        </div>
    </div>
</header>