<!--* 넌적스 문법의 헤더 -->
<header>
    <link rel="stylesheet" href="/css/header.css" /> 
    <script src="/js/navToggle.js"></script>

    
    <div class="nav">
        <img src="/images/header/logo.png" id="logo">
        <div class="dropdown">
            <img src="/images/header/nav.png" id="buttonPng">
            <button class="dropbtn" id="navTitle">{{ title }}</button>
            <div class="dropdown-content">
                <!-- 드롭다운 메뉴 항목들 -->
                <a href="#" >Archiving Box</a>
                <a href="/branding" >Branding</a>
                <a href="#" >Leaflet</a>
                <a href="#" >M.ENT</a>
                <a href="#" >Home S₩eet Home</a>
                <a href="#" >Books</a>
                <a href="#" >Members Interview</a>
            </div>
        </div>
    </div>
</header>