<link rel="stylesheet" href="/css/intv.css" /> 

<p class="intvMem">Members Interview</p>

<div id="Accordion_wrap">
    <div class="que">
        <span id="profileBox">
            <p id="testbarName">{{ member1.name }}</p>
            <p id="responsibility">{{ member1.responsibility }}</p>
        </span>
        <div class="arrow-wrap">
            <span class="arrow-top">↑</span>
            <span class="arrow-bottom">↓</span>
        </div>
    </div>
    <div class="anw">
        <span>
            <p id="questionA"> {{ member1.questionA }}</p>
            <p id="answerA"> {{ member1.answerA }}</p>
            <p id="questionB"> {{ member1.questionB }}</p>
            <p id="answerB"> {{ member1.answerB }}</p>
            <p id="questionC"> {{ member1.questionC }}</p>
            <p id="answerC"> {{ member1.answerC }}</p>
            <p id="questionD"> {{ member1.questionD }}</p>
            <p id="answerD"> {{ member1.answerD }}</p>
        </span>
    </div>
    <div class="que">
        <span id="profileBox">
            <p id="testbarName">{{ member2.name }}</p>
            <p id="responsibility">{{ member2.responsibility }}</p>
        </span>
        <div class="arrow-wrap">
            <span class="arrow-top">↑</span>
            <span class="arrow-bottom">↓</span>
        </div>
    </div>
    <div class="anw">
        <span>
            <p id="questionA"> {{ member2.questionA }}</p>
            <p id="answerA"> {{ member2.answerA }}</p>
            <p id="questionB"> {{ member2.questionB }}</p>
            <p id="answerB"> {{ member2.answerB }}</p>
            <p id="questionC"> {{ member2.questionC }}</p>
            <p id="answerC"> {{ member2.answerC }}</p>
            <p id="questionD"> {{ member2.questionD }}</p>
            <p id="answerD"> {{ member2.answerD }}</p>
        </span>
    </div>
    <div class="que">
        <span id="profileBox">
            <p id="testbarName">{{ member3.name }}</p>
            <p id="responsibility">{{ member3.responsibility }}</p>
        </span>
        <div class="arrow-wrap">
            <span class="arrow-top">↑</span>
            <span class="arrow-bottom">↓</span>
        </div>
    </div>
    <div class="anw">
        <span>
            <p id="questionA"> {{ member3.questionA }}</p>
            <p id="answerA"> {{ member3.answerA }}</p>
            <p id="questionB"> {{ member3.questionB }}</p>
            <p id="answerB"> {{ member3.answerB }}</p>
            <p id="questionC"> {{ member3.questionC }}</p>
            <p id="answerC"> {{ member3.answerC }}</p>
            <p id="questionD"> {{ member3.questionD }}</p>
            <p id="answerD"> {{ member3.answerD }}</p>
        </span>
    </div>
    <div class="que">
        <span id="profileBox">
            <p id="testbarName">{{ member4.name }}</p>
            <p id="responsibility">{{ member4.responsibility }}</p>
        </span>
        <div class="arrow-wrap">
            <span class="arrow-top">↑</span>
            <span class="arrow-bottom">↓</span>
        </div>
    </div>
    <div class="anw">
        <span>
            <p id="questionA"> {{ member4.questionA }}</p>
            <p id="answerA"> {{ member4.answerA }}</p>
            <p id="questionB"> {{ member4.questionB }}</p>
            <p id="answerB"> {{ member4.answerB }}</p>
            <p id="questionC"> {{ member4.questionC }}</p>
            <p id="answerC"> {{ member4.answerC }}</p>
            <p id="questionD"> {{ member4.questionD }}</p>
            <p id="answerD"> {{ member4.answerD }}</p>
        </span>
    </div>
    <div class="que">
        <span id="profileBox">
            <p id="testbarName">{{ member5.name }}</p>
            <p id="responsibility">{{ member5.responsibility }}</p>
        </span>
        <div class="arrow-wrap">
            <span class="arrow-top">↑</span>
            <span class="arrow-bottom">↓</span>
        </div>
    </div>
    <div class="anw">
        <span>
            <p id="questionA"> {{ member5.questionA }}</p>
            <p id="answerA"> {{ member5.answerA }}</p>
            <p id="questionB"> {{ member5.questionB }}</p>
            <p id="answerB"> {{ member5.answerB }}</p>
            <p id="questionC"> {{ member5.questionC }}</p>
            <p id="answerC"> {{ member5.answerC }}</p>
            <p id="questionD"> {{ member5.questionD }}</p>
            <p id="answerD"> {{ member5.answerD }}</p>
        </span>
    </div>
    <div class="que">
        <span id="profileBox">
            <p id="testbarName">{{ member6.name }}</p>
            <p id="responsibility">{{ member6.responsibility }}</p>
        </span>
        <div class="arrow-wrap">
            <span class="arrow-top">↑</span>
            <span class="arrow-bottom">↓</span>
        </div>
    </div>
    <div class="anw">
        <span>
            <p id="questionA"> {{ member6.questionA }}</p>
            <p id="answerA"> {{ member6.answerA }}</p>
            <p id="questionB"> {{ member6.questionB }}</p>
            <p id="answerB"> {{ member6.answerB }}</p>
            <p id="questionC"> {{ member6.questionC }}</p>
            <p id="answerC"> {{ member6.answerC }}</p>
            <p id="questionD"> {{ member6.questionD }}</p>
            <p id="answerD"> {{ member6.answerD }}</p>
        </span>
    </div>
    <div class="que">
        <span id="profileBox">
            <p id="testbarName">{{ member7.name }}</p>
            <p id="responsibility">{{ member7.responsibility }}</p>
        </span>
        <div class="arrow-wrap">
            <span class="arrow-top">↑</span>
            <span class="arrow-bottom">↓</span>
        </div>
    </div>
    <div class="anw">
        <span>
            <p id="questionA"> {{ member7.questionA }}</p>
            <p id="answerA"> {{ member7.answerA }}</p>
            <p id="questionB"> {{ member7.questionB }}</p>
            <p id="answerB"> {{ member7.answerB }}</p>
            <p id="questionC"> {{ member7.questionC }}</p>
            <p id="answerC"> {{ member7.answerC }}</p>
            <p id="questionD"> {{ member7.questionD }}</p>
            <p id="answerD"> {{ member7.answerD }}</p>
        </span>
    </div>
    <div class="que">
        <span id="profileBox">
            <p id="testbarName">{{ member8.name }}</p>
            <p id="responsibility">{{ member8.responsibility }}</p>
        </span>
        <div class="arrow-wrap">
            <span class="arrow-top">↑</span>
            <span class="arrow-bottom">↓</span>
        </div>
    </div>
    <div class="anw">
        <span>
            <p id="questionA"> {{ member8.questionA }}</p>
            <p id="answerA"> {{ member8.answerA }}</p>
            <p id="questionB"> {{ member8.questionB }}</p>
            <p id="answerB"> {{ member8.answerB }}</p>
            <p id="questionC"> {{ member8.questionC }}</p>
            <p id="answerC"> {{ member8.answerC }}</p>
            <p id="questionD"> {{ member8.questionD }}</p>
            <p id="answerD"> {{ member8.answerD }}</p>
        </span>
    </div>
    <div class="que">
        <span id="profileBox">
            <p id="testbarName">{{ member9.name }}</p>
            <p id="responsibility">{{ member9.responsibility }}</p>
        </span>
        <div class="arrow-wrap">
            <span class="arrow-top">↑</span>
            <span class="arrow-bottom">↓</span>
        </div>
    </div>
    <div class="anw">
        <span>
            <p id="questionA"> {{ member9.questionA }}</p>
            <p id="answerA"> {{ member9.answerA }}</p>
            <p id="questionB"> {{ member9.questionB }}</p>
            <p id="answerB"> {{ member9.answerB }}</p>
            <p id="questionC"> {{ member9.questionC }}</p>
            <p id="answerC"> {{ member9.answerC }}</p>
            <p id="questionD"> {{ member9.questionD }}</p>
            <p id="answerD"> {{ member9.answerD }}</p>
        </span>
    </div>
    <div class="que">
        <span id="profileBox">
            <p id="testbarName">{{ member10.name }}</p>
            <p id="responsibility">{{ member10.responsibility }}</p>
        </span>
        <div class="arrow-wrap">
            <span class="arrow-top">↑</span>
            <span class="arrow-bottom">↓</span>
        </div>
    </div>
    <div class="anw">
        <span>
            <p id="questionA"> {{ member10.questionA }}</p>
            <p id="answerA"> {{ member10.answerA }}</p>
            <p id="questionB"> {{ member10.questionB }}</p>
            <p id="answerB"> {{ member10.answerB }}</p>
            <p id="questionC"> {{ member10.questionC }}</p>
            <p id="answerC"> {{ member10.answerC }}</p>
            <p id="questionD"> {{ member10.questionD }}</p>
            <p id="answerD"> {{ member10.answerD }}</p>
        </span>
    </div>
    <div class="que">
        <span id="profileBox">
            <p id="testbarName">{{ member11.name }}</p>
            <p id="responsibility">{{ member11.responsibility }}</p>
        </span>
        <div class="arrow-wrap">
            <span class="arrow-top">↑</span>
            <span class="arrow-bottom">↓</span>
        </div>
    </div>
    <div class="anw">
        <span>
            <p id="questionA"> {{ member11.questionA }}</p>
            <p id="answerA"> {{ member11.answerA }}</p>
            <p id="questionB"> {{ member11.questionB }}</p>
            <p id="answerB"> {{ member11.answerB }}</p>
            <p id="questionC"> {{ member11.questionC }}</p>
            <p id="answerC"> {{ member11.answerC }}</p>
            <p id="questionD"> {{ member11.questionD }}</p>
            <p id="answerD"> {{ member11.answerD }}</p>
        </span>
    </div>


</div>


<script> <!-- * Accordion Menu -->
    document.querySelectorAll('.que').forEach(function(item) {
        item.addEventListener('click', function() {
          var anw = this.nextElementSibling;
          var siblings = this.parentNode.children;
          var anwSiblings = Array.from(siblings).filter(function(sibling) {
            return sibling.classList.contains('anw');
          });
      
          this.classList.toggle('on');
          Array.from(siblings).forEach(function(sibling) {
            if (sibling !== this && sibling.classList.contains('que')) {
              sibling.classList.remove('on');
            }
          }, this);
      
          anwSiblings.forEach(function(sibling) {
            if (sibling !== anw) {
              sibling.style.display = 'none';
            }
          });
      
          anw.style.display = anw.style.display === 'none' ? 'block' : 'none';
        });
      });
</script>