<!-- *넌적스 문법의 main -->
{% include "header.html" %}

<link rel="stylesheet" href="/css/works.css" /> 
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="/js/script.js"></script>
<script src="/js/worksToggle.js"></script>

<main>  
    <!-- * 스크롤 섹션별 넘기기 -->
    <div class="contentMix">
        <div class="content" id="content1">
            <img src="/images/works/works1.png" id="contentImages1">
        </div>
        <div class="content" id="content2">
            <img src="/images/works/works2.png" id="contentImages2">
            <div id="contentBox1">
                <p id="contentText1">Look more</p>
                <p id="contentText2">></p>
            </div>
            <div id="contentBox2">
                <img src="/images/works/works4.png" id="contentImages4" class="hiddenImg">

                <p id="contentText3">
                    Let’s start with<br>Archiving Box
                </p>
            </div>
            
            <img src="/images/works/works3.png" id="contentImages3">
        </div>
        <div class="content" id="content3">
            <img src="/images/works/branding/brandingLeftUp.jpg" id="contentImages5">
            <div id="contentBox3">
                <p id="contentText1">Look more</p>
                <p id="contentText2">></p>
            </div>
            <img src="/images/works/branding/brandingRightDown.jpg" id="contentImages6">
            <div id="contentBox4">
                <p id="contentText4">Moment<br>Experience<br>User</p>
                <p id="contentText5">Ornament<br>Branding</p>
            </div>
        </div>
        <div class="content" id="content4">
            <img src="/images/works/Home-leaflet/Home-leaflet-left-up.jpg" id="contentImages7">
            <div id="contentBox5">
                <p id="contentText1">Look more</p>
                <p id="contentText2">></p>
            </div>
            <div id="contentBox6">
                <img src="/images/works/Home-leaflet/Home-leaflet-left-down.png" id="contentImages8" class="hiddenImg">
                <p id="contentText6">Tool for<br>explanation<br>and tool for<br>remembering</p>
                <p id="contentText7">Leaflet</p>
            </div>
            <img src="/images/works/Home-leaflet/Home-leaflet-right-down.jpg" id="contentImages9">
        </div>
        <div class="content" id="content5">
            <img src="/images/works/Home-measurement tool/Home-measurement tool-left-up.jpg" id="contentImages10">
            <div id="contentBox7">
                <p id="contentText1">Look more</p>
                <p id="contentText2">></p>
            </div>
            <div id="contentBox8">
                <img src="/images/works/Home-measurement tool/hidden.png" id="contentImages11" class="hiddenImg">
                <p id="contentText8">It'll be more<br>accurate than<br>your eyes</p>
                <p id="contentText9">Measurment Tool</p>
            </div>
            <img src="/images/works/Home-measurement tool/Home-measurement tool-right-down.jpg" id="contentImages12">
        </div>
        <div class="content" id="content6">
            <img src="/images/works/works5.png" id="contentImages13">
            <div id="contentBox9">
                <p id="contentText1">Look more</p>
                <p id="contentText2">></p>
            </div>
            <div id="contentBox10">
                <img src="/images/works/works11.jpg" id="contentImages14" class="hiddenImg">
                <p id="contentText10">About Classification<br>of Residential Spaces</p>
                <p id="contentText11">Home S₩eet Home</p>
            </div>
            <img src="/images/works/works6.png" id="contentImages15">
        </div>
        <div class="content" id="content7">
            <img src="/images/works/works7.png" id="contentImages16">
            <div id="contentBox11">
                <p id="contentText1">Look more</p>
                <p id="contentText2">></p>
            </div>
            <div id="contentBox12">
                <img src="/images/works/works12.jpg" id="contentImages17" class="hiddenImg">
                <p id="contentText12">How to<br>communicate<br>information</p>
                <p id="contentText13">Experience<br>makes us<br>: Books</p>
            </div>
            <img src="/images/works/works8.png" id="contentImages18">
        </div>
        <div class="content" id="content8">
            <img src="/images/works/works9.png" id="contentImages19">
            <div id="contentBox13">
                <p id="contentText1">Look more</p>
                <p id="contentText2">></p>
            </div>
            <div id="contentBox14">
                <p id="contentText14">How to<br>communicate<br>information</p>
                <p id="contentText15">Experience<br>makes us<br>: Books</p>
            </div>
            <img src="/images/works/works10.png" id="contentImages20">
        </div>
    </div>
</main>

{% include "footer.html" %}