@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

main {
    z-index: 0;
    font-family: 'SUIT-Regular', sans-serif;
    margin: 0px 17.5px;
}
#interviewTitle {
    color: #000;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 125% */
    margin-top: 95px;
    padding: 0px;
}


.col-xs-10 {
    display: flex;
    justify-content: space-between;
    align-items: left;
    width: 350px;
}

#testbarName {
    width: 50px;
}
 #responsibility {
    width: 150px;

}

#buttonPng {
    width: 20px;
    height: 18px;
}


hr {
    width : 355px;
    height : 2px;
    background-color : #000000;
    margin-top: 40px;
    padding: 0px;
}

.dropdownbar {
    height: 95px;
}

.dropdownbar-content {
    display: none;
    position: absolute;
    z-index: 0;
}


#testbarName {
    color: #000;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 16px; /* 88.889% */
}

#responsibility {
    color: #B1B1B1;
font-size: 12px;
font-style: normal;
font-weight: 900;
line-height: 16px; /* 133.333% */
}

#buttonPng {
    width: 25px;
}