/** main.html */
@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@media only screen and (min-width: 390px) {
    /* 여기에 데스크탑 화면에 대한 스타일을 정의합니다. */
    body {
        width: 390px;
        margin: 0 auto; /* 중앙 정렬 */
        font-family: 'SUIT-Regular', sans-serif;

    }
}

html {
    padding-top: 68px;
}

.content{
    /* height: 100vh; */
    /* padding-bottom: 25px; */
     position: relative; /* 내부 요소들을 상대적으로 배치하기 위해 */
}

#content1{
    background-color: rgb(196, 144, 244);
}

#content2{
    background-color: rgb(142, 243, 161);
}

#content3{
    background-color: rgb(218, 241, 149);
}

#content4{
    background-color: rgb(230, 182, 142);
}

/** 섹션 1 */
#content1{
    height: 600px;
    /* padding: 0px 0px 30px 0px; */
}

#contentImages1 {
    width: 390px;
}

/** 섹션 2 */
#content2 {
    height: 600px;
    display: grid;
    grid-template-columns: 225px 165px;
    grid-template-rows: 224px 105px 225px; 
}

#contentImages2 {
    width: 225px;
    grid-row-start: 1;
    grid-row-end: 2;
}

#contentBox1 {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
    width: 165px;
    height: 244px;
    background-color: #4A4A4A;

    display: flex;
    flex-direction: column; /* 요소를 세로로 배치 */
    justify-content: center;
    align-items: center;
}

#contentText1 {
    text-decoration-line: underline;    
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 111.111% */
    text-align: center;
    margin: 0px;
}

#contentText2 {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 111.111% */
    text-align: center;
    margin: 2px;
}

#contentImages3 {
    width: 165px;
    height: 330px;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 2;
}

#contentBox2 {
    width: 225px;
    height: 223px;
    background-color: #C6DA20;
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
}

#contentText3 {
    color: #000;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 111.111% */
    position: absolute;
    top: 35%;
    left: 25%;
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
}

.hiddenImg {
    display: none;
}

#contentImages4 {
    width: 223px;
    opacity: 0.3; 
    z-index: -1; /* 이미지를 텍스트 아래로 보냄 */
}

/* * 섹션 3 */
#content3 {
    height: 600px;
    display: grid;
    grid-template-columns: 145px 95px 150px;
    grid-template-rows: 250px 300px;
}

#contentImages5 {
    width: 240px;
    height: 250px;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 2;
}

#contentBox3 {
    width: 150px;
    height: 250px;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 3;
    grid-column-end: 3;
    background-color: #000000;

    display: flex;
    flex-direction: column; /* 요소를 세로로 배치 */
    justify-content: center;
    align-items: center;
}

#contentImages6 {
    width: 245px;
    height: 300px;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

#contentBox4 {
    width: 145px;
    height: 300px;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
    background-color: #CEF0F5;
}

#contentText4 {
    color: #000;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#contentText5 {
    color: #000;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 150px;
}

/* * 섹션 4 */
#content4 {
    height: 600px;
    display: grid;
    grid-template-columns: 215px 55px 120px;
    grid-template-rows: 200px 350px; 
}

#contentImages7 {
    width: 270px;
    height: 200px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
}

#contentBox5 {
    width: 120px;
    height: 200px;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 3;
    grid-column-end: 3;
    background-color: #FD5F00;
    display: flex;
    flex-direction: column; /* 요소를 세로로 배치 */
    justify-content: center;
    align-items: center;
}

#contentBox6 {
    width: 215px;
    height: 350px;
    background-color: #000000;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
}

#contentImages8 {
    width: 215px;
    height: 350px;
    z-index: -1; /* 이미지를 텍스트 아래로 보냄 */
    filter: invert(100%);

}

#contentText6 {
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    position: absolute;
    top: 35%;
    left: 14%;
}

#contentText7 {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    position: absolute;
    top: 80%;
    left: 20%;
}

#contentImages9 {
    width: 175px;
    height: 350px;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 2;
}

/** 섹션 5 */
#content5 {
    height: 600px;
    display: grid;
    grid-template-columns: 200px 40px 150px ;
    grid-template-rows: 280px 27px; 
}

#contentImages10 {
    width: 240px;
    height: 280px;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 2;
}

#contentBox7 {
    background-color: #000;
    width: 150px;
    height: 280px;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 3;
    grid-column-end: 3;
    display: flex;
    flex-direction: column; /* 요소를 세로로 배치 */
    justify-content: center;
    align-items: center;
}

#contentBox8 {
    background-color: #D9DFD5;
    width: 200px;
    height: 275px;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
}

#contentText8 {
    color: #000000;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    position: absolute;
    top: 48%;
    left: 12%;
}

#contentText9 {
    color: #000000;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    position: absolute;
    top: 80%;
    left: 9%;
}

#contentImages11 {
    width: 200px;
    height: 275px;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
    z-index: -1;
}

#contentImages12 {
    width: 190px;
    height: 275px;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

/* *섹션 6 */
#content6 {
    height: 600px;
    display: grid;
    grid-template-columns: 240px 150px;
    grid-template-rows: 215px 100px 240px; 
}

#contentImages13 {
    width: 240px;
    height: 315px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
}

#contentBox9 {
    width: 150px;
    height: 215px;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
    background-color: #229256;
    display: flex;
    flex-direction: column; /* 요소를 세로로 배치 */
    justify-content: center;
    align-items: center;
}

#contentBox10 {
    background-color: #000;
    width: 240px;
    height: 240px;
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
}

#contentImages14 { 
    width: 240px;
    height: 240px;
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
    z-index: -5;
    filter: invert(100%);
}

#contentText10 {
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    position: absolute;
    top: 55%;
    left: 8%;
}

#contentText11 {
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    position: absolute;
    top: 80%;
    left: 10%;
}

#contentImages15 {
    width: 150px;
    height: 340px;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 2;
}

/* * 섹션 7 */
#content7 {
    height: 600px;
    display: grid;
    grid-template-columns: 145px 95px 150px;
    grid-template-rows: 275px 275px;
}

#contentImages16 {
    width: 240px;
    height: 275px;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 2;
}

#contentBox11 {
    background-color: #333333;
    width: 150px;
    height: 275px;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 3;
    grid-column-end: 3;
    display: flex;
    flex-direction: column; /* 요소를 세로로 배치 */
    justify-content: center;
    align-items: center;
}

#contentBox12 {
    background-color: #B0917C;
    width: 145px;
    height: 275px;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
}

#contentImages17 {
    width: 145px;
    height: 275px;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
    z-index: -1;
    opacity: 0.3; 
}

#contentText12 {
    color: #000000;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    position: absolute;
    top: 45%;
    left: 4%;
}

#contentText13 {
    color: #000000;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    position: absolute;
    top: 75%;
    left: 7%;
}



#contentImages18 {
    width: 245px;
    height: 275px;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

/* * 섹션 8 */
#content8 {
    height: 600px;
    display: grid;
    grid-template-columns: 225px 165px ;
    grid-template-rows:  225px 45px 280px ;
}

#contentImages20 {
    width: 225px;
    height: 270px;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
}

#contentBox13 {
    background-color: #000000;
    width: 165px;
    height: 225px;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
    display: flex;
    flex-direction: column; /* 요소를 세로로 배치 */
    justify-content: center;
    align-items: center;
}

#contentBox14 {
    background-color: #2395DC;
    width: 225px;
    height: 280px;
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
    display: flex;
    flex-direction: column; /* 요소를 세로로 배치 */
    justify-content: center;
    align-items: center;
}

#contentImages19 {
    width: 165px;
    height: 325px;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}